@import "tailwindcss";

/* Define theme variables for colors */
@theme inline {
    /* Font family */
    --font-poppins: Poppins, sans-serif;
    --font-inter: Inter, sans-serif;
    /* Colors */
    --color-background: #F8F9FA;
    --color-foreground: #171717;
    --color-banner: #506D37;
    --color-primary: #82AD5C;
    --color-secondary: #2F4020;
    --color-cardBg: hsla(92, 33%, 19%, 0.2);
    --color-tertiary: #1E2915;
    --color-tertiary-white: #1E2915;
    --color-textColor: #0A0E07;
    --color-FooterBg: #09130D;
    --color-error: hsl(5, 85%, 63%);

    /* Font sizes */
  --text-display: 2.25rem;
  --text-headline: 1.5rem;
  --text-title: 0.875rem;
  --text-p: 0.75rem;

  /* Responsive font sizes */
  --text-display-sm: 2.4125rem;
  --text-display-md: 2.7875rem;
  --text-display-lg: 2.8625rem;

  --text-headline-sm: 1.65rem;
  --text-headline-md: 1.775rem;
  --text-headline-lg: 1.8rem;

  --text-title-sm: 1rem;
  --text-title-md: 1.1875rem;
  --text-title-lg: 1.375rem;

  --text-p-sm: 0.875rem;
  --text-p-md: 0.9375rem;
  --text-p-lg: 1rem;

  --text-label-lg:0.875rem;
  --text-label-md: 0.75rem;
  --text-label-sm: 0.6875rem;
  }
  
/* Define custom components */
@layer components {
    .btn-category {
      @apply text-[13px] font-normal py-2 px-[9.1rem] rounded-[8px] text-textColor bg-tertiary;
    }
  
    .wrapper {
      @apply w-full mx-auto max-w-full md:max-w-[840px] xl:max-w-[1040px] px-4 md:px-0 mt-[2rem];
    }
  }
  

/* Define custom utilities */

@layer utilities {
    .display {
      font-size: var(--text-display);
      font-weight: bold;
  
      @media (min-width: 640px) {
        font-size: var(--text-display-sm);
      }
  
      @media (min-width: 768px) {
        font-size: var(--text-display-md);
      }
  
      @media (min-width: 1024px) {
        font-size: var(--text-display-lg);
      }
    }
  
    .headline {
      font-size: var(--text-headline);
      font-weight: medium;
  
      @media (min-width: 640px) {
        font-size: var(--text-headline-sm);
      }
  
      @media (min-width: 768px) {
        font-size: var(--text-headline-md);
      }
  
      @media (min-width: 1024px) {
        font-size: var(--text-headline-lg);
      }
    }
  
    .title {
      font-size: var(--text-title);
      font-weight: medium;
  
      @media (min-width: 640px) {
        font-size: var(--text-title-sm);
      }
  
      @media (min-width: 768px) {
        font-size: var(--text-title-md);
      }
  
      @media (min-width: 1024px) {
        font-size: var(--text-title-lg);
      }
    }
  
    .p-text {
      font-size: var(--text-p);
      font-weight: normal;
  
      @media (min-width: 640px) {
        font-size: var(--text-p-sm);
      }
  
      @media (min-width: 768px) {
        font-size: var(--text-p-md);
      }
  
      @media (min-width: 1024px) {
        font-size: var(--text-p-lg);
      }
    }
    .label-text {
      font-size: var(--text-label-sm);
      font-weight: normal;

      @media (min-width: 640px) {
          font-size: var(--text-label-md);
      }

      @media (min-width: 768px) {
          font-size: var(--text-label-lg);
      }
  }
  }


  @keyframes scroll {
    to {
      transform: translateX(calc(-50% - 1rem)); /* Adjust based on your gap */
    }
  }
  
  .animate-scroll {
    animation: scroll var(--animation-duration, 40s) linear infinite;
    animation-play-state: running;
  }
  
  .group:hover .animate-scroll {
    animation-play-state: paused;
  }
  